@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-datepicker/dist/react-datepicker';

/* Tokens */
:root {
  --color-primary: 20 20 20; /* Text, buttons, etc. */
  --color-contrast: 250 250 249; /* Backgrounds, borders, etc. */
  --color-accent: 191 72 0; /* Labels like "On sale" */
  --font-size-fine: 0.75rem; /* text-xs */
  --font-size-copy: 1rem; /* text-base */
  --font-size-lead: 1.125rem; /* text-lg */
  --font-size-heading: 2rem; /* text-2xl */
  --font-size-display: 3rem; /* text-4xl */
  --color-shop-pay: #5a31f4;
  --shop-pay-button--width: 100%; /* Sets the width for the shop-pay-button web component */
  --height-nav: 3rem;
  --screen-height: 100vh;
  --screen-height-dynamic: 100vh;

  @media (min-width: 32em) {
    --height-nav: 4rem;
  }
  @media (min-width: 48em) {
    --height-nav: 6rem;
    --font-size-heading: 2.25rem; /* text-4xl */
    --font-size-display: 3.75rem; /* text-6xl */
  }
  @supports (height: 100svh) {
    --screen-height: 100svh;
  }
  @supports (height: 100dvh) {
    --screen-height-dynamic: 100dvh;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: 250 250 250;
    --color-contrast: 32 33 36;
    --color-accent: 235 86 40;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

shop-pay-button {
  width: 100%;
  height: 3rem;
  display: table;
}

@layer base {
  * {
    font-variant-ligatures: none;

    input[type="number"]::-webkit-inner-spin-button,
    input[type="number"]::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  body {
    @apply border-primary/10 bg-contrast text-primary/90 antialiased;
    background-image: url("https://simplynoted.com/cdn/shop/files/bg-business-header.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center -50px;
    background-color: #dfebf9;
 

 

}
  }

  html {
    scroll-padding-top: 10rem;
  }

  model-viewer::part(default-progress-mask) {
    display: none;
  }

  model-viewer::part(default-progress-bar) {
    display: none;
  }


  input[type='search']::-webkit-search-decoration,
  input[type='search']::-webkit-search-cancel-button,
  input[type='search']::-webkit-search-results-button,
  input[type='search']::-webkit-search-results-decoration {
    -webkit-appearance: none;
  }

  a.active {
    @apply border-b;
  }

  .prose {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      &:first-child {
        @apply mt-0;
      }
    }
  }


@layer components {
  .article {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-sans text-primary;
    }
    @apply prose mx-auto mb-12 grid justify-center font-serif text-primary;
    p,
    ul,
    li {
      @apply mb-4 text-lg;
    }
    img {
      @apply md:-mx-8 lg:-mx-16;

      @media (min-width: 48em) {
        width: calc(100% + 4rem);
        max-width: 100vw;
      }
      @media (min-width: 64em) {
        width: calc(100% + 8rem);
      }
    }
  }

  .swimlane {
    @apply grid w-full snap-x snap-mandatory scroll-px-6 grid-flow-col justify-start gap-4 overflow-x-scroll px-6 pb-4;
  }
}

@layer utilities {
  .fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease 500ms forwards;
  }

  .hiddenScroll {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .strike {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 108%;
      height: 1.5px;
      left: -4%;
      top: 50%;
      transform: translateY(-50%);
      background: rgb(var(--color-primary));
      box-shadow: 0.5px 0.5px 0px 0.5px rgb(var(--color-contrast));
    }
  }

  .card-image {
    @apply relative flex items-center justify-center overflow-clip rounded;
    &::before {
      content: ' ';
      @apply absolute top-0 left-0 z-10 block h-full w-full rounded shadow-border;
    }
    img {
      @apply aspect-[inherit] w-full object-cover;
    }
  }
  .request-button{
    background: rgb(239, 110, 110);
    min-width: 203px;
    text-transform: uppercase;
    padding: 12px;
    min-height: 52px;
    cursor: pointer;
    color:white;
  }

  .request-button:hover{
   background-color:#001a5f;
  }
  a:hover {
    color: #0056b3;}

    .px-12 {
      padding-left: 2rem;
      padding-right: 2rem;}

      nav a {
        text-decoration: none;
        transition: text-decoration 0.3s, font-style 0.3s; 
    }
    .shadow-darkHeader {
       --tw-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0) !important;}
   
    .login-button{
      color: rgb(0, 0, 0);
    font-weight: 500;
    margin-right: -14px;

    }
    .gap-1 {
      gap: 1.25rem;
    }
 .logo-simplinoted{
  width: 23%;
    rotate: -5deg;
    max-height: 241px;
 }
 .cars-killer{
  width: 24%;
  rotate: -7deg;
  margin-top: -21px;
 
 }
 .bg-contrast {
  background-color: none !important;
}

.handwritten-notice{
  text-align: center;
  margin-top: 55px;
  position: relative;
}
 .handwritten-notice h3{
  font-size:45px;
  color:#001a5f;
  font-weight:500;
  margin-top: -31px;
  margin-right: -78px;
} 
.handwritten-notice p{
  font-size:45px;
  color:#001a5f;
  font-weight:500;
  margin-left:80px;
} *

/* .sec-section {
    display: flex;
    justify-content: space-between;
    margin-right: 39px;
    margin-left: -15px;
    margin-top: 75px;
} */
.scale-starting{
    font-size: 21px;
    margin-top: 12px;

} 
 .start-writing-button{
  margin-top: 41px;
  background-color: #ef6e6e;
  min-width: 264px;
  text-transform: uppercase;
  padding: 12px;
  min-height: 64px;
  cursor: pointer;
  color: #fff;
  font-size: 19px;

} 

 .request-a-button{
  background: #1b5299;
  min-width: 250px;
  text-transform: uppercase;
  padding: 12px;
  min-height: 64px;
  cursor: pointer;
  color: #fff;
  font-size: 19px;
} 
.robot-gif{
  margin-top:-37px; 
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > div {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px;
  left: 60%; 
  transform: translateX(-50%); 
  top: 34px;
  
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content p {
  padding: 12px 16px;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.dropdown-content p:last-child {
  border-bottom: none;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.outerr{
  height: 700px;
  width: 100%;
  border: none;
  background: white;
  max-width: 600px;
  position: relative;
}
.outerSec{
  height: 400px;
  width: 100%;
  border: none;
  /* background: red; */
  max-width: 570px;
  position: absolute;
}
.secDiv{
  position: absolute;
  height: 300px;
  width: 100%;
  max-width: 50%;
  /* background: green; */
  /* z-index: 1; */
  bottom: 0;
  right: 0;
}
  #example-one-input {
    height: 200px;
    width: 100%;
    border-radius: 6px;
    padding: 5px 10px;
}
  #example-one-input2 {
    height: 100px;
    width: 50%;
    border-radius: 6px;
    padding: 5px 10px;
}
#customText{
  margin: 10px; width:50%;
}
.output{
  word-break: break-all; word-wrap: break-word;    white-space: pre-wrap;
}
.output2{
  word-break: break-all; word-wrap: break-word;  white-space: pre-wrap;
  
}
.price-breakdown td {
  padding: 4px 16px;
  border: 1px solid #ddd;
  font-size: 14px;

}
.price-breakdown td.label {
  font-weight: 600;
}

.address-grid {
  border: 2px solid #aaaaaa;
  padding: 20px;
  border-radius: 10px;
  background: #f1f1f1;
  max-height: 600px;
  overflow-y: auto;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
}

#aiTextArea{
  font-size: 18px;
    height: 300px;
    line-height: 1.52rem;
    width: 100%;
    border: 1px dashed #999999;
    outline: none;
    padding: 10px 15px;
    overflow-y: auto;
    resize: none;
}
.ai-generate button {
  width: 50%;
  height: 50px;
  background-color: #ef6e6e;
  color: #fff;
  font-size: 16px;
  border: 0px;
  border-radius: 5px;
  margin-top: 10px; 
   transition: all 0.5s ease-in-out;

}
.custom_testing {
  background-color: #f1f1f1;
  border: solid 2px #aaa;
  border-radius: 10px;
  padding: 15px;
  margin-top: 15px;
  width: 100%;
  max-width: 375px;
}
.addFirstnameBtn{
  background: #1b5299;
  color: #fff;
  border: 0;
  border-radius: 4px;
  margin-bottom: 8px;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}




/* For mobile devices or narrow screens */
@media (max-width: 768px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }
  
  .table {
    width: 100%;
  }
  
  .table thead {
    display: none; /* Hide the table header on narrow screens */
  }
  
  .table tbody {
    display: block;
    width: 100%;
  }
  
  .table td, .table th {
    white-space: normal;
    text-align: left;
  }
  
  .table td {
    padding: 10px;
  }
  
  .table tr {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
}

@font-face {
  font-family: 'Tarzan';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Tarzan.ttf') format('truetype');
}
@font-face {
  font-family: 'Stitch';
  /* font-display: swap; */
  /* font-weight: 700; */
  /* font-style: italic; */
  src: url('./fonts/Stitch.ttf') format('truetype');

}
@font-face {
  font-family: 'Pinocchio';
  /* font-display: swap; */
  /* font-weight: 700; */
  /* font-style: italic; */
  font-size: 25px;
  src: url('./fonts/Pinocchio.ttf') format('truetype');

}
@font-face {
  font-family: 'Simba';
  /* font-display: swap; */
  /* font-weight: 700; */
  /* font-style: italic; */
  src: url('./fonts/Simba.ttf') format('truetype');

}
@font-face {
  font-family: 'Roo';
  /* font-display: swap; */
  /* font-weight: 700; */
  /* font-style: italic; */
  src: url('./fonts/Roo.ttf') format('truetype');

}
@font-face {
  font-family: 'Nemo';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Nemo.ttf') format('truetype');

}
@font-face {
  font-family: 'Lumiere';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Lumiere.ttf') format('truetype');

}
@font-face {
  font-family: 'Kaa';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Kaa.ttf') format('truetype');

}
@font-face {
  font-family: 'Kaa-new';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Kaa-new.ttf') format('truetype');

}
@font-face {
  font-family: 'Dumbo';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Dumbo.ttf') format('truetype');

}
@font-face {
  font-family: 'Donald';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Donald.ttf') format('truetype');

}
@font-face {
  font-family: 'Aladdin';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Aladdin.ttf') format('truetype');

}

@font-face {
  font-family: 'Belle';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Belle.ttf') format('truetype');

}
@font-face {
  font-family: 'Boo';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Boo.ttf') format('truetype');

}
@font-face {
  font-family: 'Cinderella';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Cinderella.ttf') format('truetype');

}
@font-face {
  font-family: 'Copper';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Copper.ttf') format('truetype');

}
@font-face {
  font-family: 'Jasmine';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Jasmine.ttf') format('truetype');

}
@font-face {
  font-family: 'Merlin';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Merlin.ttf') format('truetype');

}
@font-face {
  font-family: 'Goofy';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Goofy.ttf') format('truetype');

}
@font-face {
  font-family: 'Hercules';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Hercules.ttf') format('truetype');

}
@font-face {
  font-family: 'Rafiki';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Rafiki.ttf') format('truetype');

}
@font-face {
  font-family: 'Rapunzel';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Rapunzel.ttf') format('truetype');

}
@font-face {
  font-family: 'Ratigan';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Ratigan.ttf') format('truetype');

}
@font-face {
  font-family: 'Sarabi';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Sarabi.ttf') format('truetype');

}
@font-face {
  font-family: 'Scar';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Scar.ttf') format('truetype');

}
@font-face {
  font-family: 'Triton';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Triton.ttf') format('truetype');

}
@font-face {
  font-family: 'Woody';
  /* font-display: swap; */
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/Woody.ttf') format('truetype');

}

}



/* Add this CSS to your component's stylesheet or CSS file */

/* Pagination container */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  gap: 20px;
}

/* Pagination buttons */xx
.pagination button {
  background-color: #001a5f;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

/* Disabled pagination buttons */
.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Active page button */
.pagination button.active {
  background-color: #333;
}

/* Adjust styles as needed to match your design */


.overflow-popup {
  max-height: 50vh;
  overflow: auto;
}

.type-select select{
  --tw-ring-color: transparent;
}
.sec-cont{
  display: flex;
  justify-content: flex-start;
  gap: 159px;
}

.request-button {
  background: rgb(239, 110, 110);
  min-width: 203px;
  text-transform: uppercase;
  padding: 12px;
  min-height: 52px;
  cursor: pointer;
  color: white;
}
.dropdown > div {
  cursor: pointer;
  margin-bottom: 12px;
}
.font-bold {
  font-weight: 500 !important;
  letter-spacing: 0px;
}
.request-button:hover {
  background-color: #001a5f;
}
a:hover {
  color: #0056b3;
}

.px-12 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.lg\:px-12 {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 12rem !important;
}

nav a {
  text-decoration: none;
  transition: text-decoration 0.3s, font-style 0.3s;
}
.shadow-darkHeader {
  --tw-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0) !important;
}

.login-button {
  color: rgb(0, 0, 0);
  font-weight: 500;
  margin-right: -14px;
}
.gap-1 {
  gap: 1.25rem;
}
.logo-simplinoted {
  width: 23%;
  rotate: -5deg;
  max-height: 241px;
  position: absolute;
  top: 157px;
}
.cars-killer {
  width: 24%;
  rotate: -7deg;
  margin-top: -21px;
  position: absolute;
  right: 11px;
  top: 141px;
}
.bg-contrast {
  background-color: none !important;
}

.handwritten-notice {
  text-align: center;
  margin-top: 55px;
  position: relative;
}
.handwritten-notice h3 {
  font-size: 45px;
  color: #001a5f;
  font-weight: 500;
  margin-top: -31px;
  margin-right: -78px;
}
.handwritten-notice p {
  font-size: 45px;
  color: #001a5f;
  font-weight: 500;
  margin-left: 80px;
}
.scale-starting {
  font-size: 21px;
  margin-top: 12px;
}
.start-writing-button {
  margin-top: 41px;
  background-color: #ef6e6e;
  min-width: 264px;
  text-transform: uppercase;
  padding: 12px;
  min-height: 64px;
  cursor: pointer;
  color: #fff;
  font-size: 19px;
}

.request-a-button {
  background: #1b5299;
  min-width: 250px;
  text-transform: uppercase;
  padding: 12px;
  min-height: 64px;
  cursor: pointer;
  color: #fff;
  font-size: 19px;
}
.robot-gif {
  margin-top: 7px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > div {
  cursor: pointer;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 200px;
  left: 60%;
  transform: translateX(-50%);
  top: 26px;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown-content p {
  padding: 12px 16px;
  margin: 0;
  border-bottom: 1px solid #ddd;
}

.dropdown-content p:last-child {
  border-bottom: none;
}
.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}
/* .absolute-scaled-image {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
} */

.rotate {
  transform: rotateY(180deg);
}
.text-at-top {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}


.companies-header {
  font-size: 30px;
  font-weight: bold;
  text-transform: none;
  letter-spacing: -0.96px;
  line-height: 1em;
  color: #001a5f;
  padding: 0.5em 0;
}

.visible {
  margin-top: -97px;
}
.flat__checkbox {
  margin-left: 4rem;
}
.finish-editing {
  width: 215px;
  background-color: #1b5299;
  height: 42px;
  color: #fff;
  font-size: 15px;
  margin-top: 52px;
}
 .slect-btn-image {
  font-size: 19px;
  font-family: sans-serif;
}

.enclosed-div {
  min-width: 96%;
}
#color-header:hover {
  border:block;
}
.alignment.selected {
  border: 2px solid #3498db;
}
.select-image {
  margin-left: 67px;
  
}

.main-div {
  width:45%;
  min-height: 400px;
}

.red-dot {
  position: relative;
  width: 97%;
  margin: 7px;
  height: 385px;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  background-color: white;
}

.red-dot.rotate {
  transform: rotateX(180deg);
}

.card-button {
  width: 100%;
  border: none;
  height: 40px;
  color: white;
  font-size: 18px;
}
.button-tomato {
  background-color: #ef6e6e;
}

.button-blue {
  background-color: #1b5299;
}
.choose-file-button {
  
  min-width: 40%;
}  
.file-click {
  --click-width: 60px;
  --click-height: 50px;
}
.choose-image {
  max-width: var(--click-width);
  max-height: var(--click-height);
}
         
.file-upload {
  position: absolute;
  opacity: 0;
  top: 0;
  left: 0;
  bottom: 0;
  width: var(--click-width);
}
.file-upload:focus {
  outline: none;
  border: none;
}
body {
  overflow-x: hidden;
  height: 0;
}
.finish-button-editing {
  background-color: #1b5299;
  width: 250px;
  text-align: center;
  color: white;
  height: 43px;
  padding-top: 6px;
  position: absolute;
  margin-top: 83px;
}
.Custom-folded-card-front {
  padding-left: 20%;
  margin: 5% 0 5px 0;
  font-size: 25px;
  font-family: 'Noto Sans';
  color: #191919;
}
.remove-image {
  background: #1b5299;
  font-family: 'Karla', sans-serif;
  border: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 0.03em;
  position: relative;
  outline: none;
  padding: 6px 31px 4px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40px;
  margin-top: 12px;
}
.dark {
  color: darkslategray;
}
.trash-icon {
  color: white;
}
.trash-icon {
  width: 21px;
  position: absolute;
  top: 472px;
  left: 704px;
}

.add-header,
.add-footer {
  margin-left: 18px;
}

.scaled-image {
  width: 100%;
  height: 100%;
}

.dotted-div {
  position: absolute;
  inset: 0;
  margin: auto;
  width: calc(100% - 20px);
  height: calc(100% - 20px);
  border: dashed 2px #ff0000;
}
.overflow-x-hidden {
  overflow: show !important;
}
.testing {
  border: 1px solid black;
  height: 123px;
  width: 123px;
  position: absolute;
  margin-top: 88px;
}
.red-dot{
  border:none;
}
.bar-code{
  top:-137px;
}
.front-div{
  width: 100%;
  position: absolute;
  height: 100%;
  /* border: 2px dotted red; */
  border:none;
}
.fold-open-div{
  /* transition: transform .8s;
  transform-style: preserve-3d;
  transform-origin: top; */
}
.custom-msg{
  font-family: 'astTracy';
}

.insert-btn{
  border: none;
  width: 100%;
  height: 40px;
  margin-top: 20px;
  font-size: 16px;
  font-weight: 700;
  background-color: #ef6e6e;
  color: white;
}

/***********modal***************/
.modal-save-name{
  background: #deebf7;
   max-width: 476px;
   height: 55px;
   display: flex;
   justify-content: center;
   align-items: center;
   color:black;
   border:2px solid gray;
   margin-top: 26px;
}
.input-modal{
  width: 100%;
    margin-top: 21px;
    border: 2px solid black;
}
.button-modal{
  background: #1b5299;
  font-family: 'Karla', sans-serif;
  border: none;
  color: #ffffff;
  font-size: 14px;
  line-height: 1.0;
  font-weight: 400;
  letter-spacing: 0.03em;
  outline: none;
  padding: 6px 31px 4px;
  justify-content: center;
  align-items: center;
  min-width: 477px;
  min-height: 43px;
  margin-top: 22px;
}





















  