@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'react-datepicker/dist/react-datepicker';
@import url('https://fonts.googleapis.com/css2?family=Tiempos:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@font-face {
  font-family: Karla;
  src: url(./fonts/Karla-ExtraLight.ttf);
  font-weight: 200;
}
@font-face {
  font-family: Karla;
  src: url(./fonts/Karla-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: Karla;
  src: url(./fonts/Karla-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: Karla;
  src: url(./fonts/Karla-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: Karla;
  src: url(./fonts/Karla-SemiBold.ttf);
  font-weight: 600;
}

/* Tokens */
:root {
  --color-primary: 20 20 20; /* Text, buttons, etc. */
  --color-contrast: 250 250 249; /* Backgrounds, borders, etc. */
  --color-accent: 191 72 0; /* Labels like "On sale" */
  --font-size-fine: 0.75rem; /* text-xs */
  --font-size-copy: 1rem; /* text-base */
  --font-size-lead: 1.125rem; /* text-lg */
  --font-size-heading: 2rem; /* text-2xl */
  --font-size-display: 3rem; /* text-4xl */
  --color-shop-pay: #5a31f4;
  --shop-pay-button--width: 100%; /* Sets the width for the shop-pay-button web component */
  --height-nav: 3rem;
  --screen-height: 100vh;
  --screen-height-dynamic: 100vh;

  @media (min-width: 32em) {
    --height-nav: 4rem;
  }
  @media (min-width: 48em) {
    --height-nav: 6rem;
    --font-size-heading: 2.25rem; /* text-4xl */
    --font-size-display: 3.75rem; /* text-6xl */
  }
  @supports (height: 100svh) {
    --screen-height: 100svh;
  }
  @supports (height: 100dvh) {
    --screen-height-dynamic: 100dvh;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

shop-pay-button {
  width: 100%;
  height: 3rem;
  display: table;
}

@layer base {
  * {
    font-variant-ligatures: none;

    input[type='number']::-webkit-inner-spin-button,
    input[type='number']::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
  }

  body {
    @apply border-primary/10 bg-contrast text-primary/90 antialiased;
    /* background-image: url('https://simplynoted.com/cdn/shop/files/bg-business-header.jpg'); */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center -50px;
    background-color: #fff;
    background-size: cover;
  }
}

html {
  scroll-padding-top: 10rem;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #1e1e1e;
}

model-viewer::part(default-progress-mask) {
  display: none;
}

model-viewer::part(default-progress-bar) {
  display: none;
}

input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

a.active {
  @apply border-b;
}

.prose {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    &:first-child {
      @apply mt-0;
    }
  }
}

@layer components {
  .article {
    h2,
    h3,
    h4,
    h5,
    h6 {
      @apply font-sans text-primary;
    }
    @apply prose mx-auto mb-12 grid justify-center font-serif text-primary;
    p,
    ul,
    li {
      @apply mb-4 text-lg;
    }
    img {
      @apply md:-mx-8 lg:-mx-16;

      @media (min-width: 48em) {
        width: calc(100% + 4rem);
        max-width: 100vw;
      }
      @media (min-width: 64em) {
        width: calc(100% + 8rem);
      }
    }
  }

  .swimlane {
    @apply grid w-full snap-x snap-mandatory scroll-px-6 grid-flow-col justify-start gap-4 overflow-x-scroll px-6 pb-4;
  }
}

@layer utilities {
  .fadeIn {
    opacity: 0;
    animation: fadeInAnimation ease 500ms forwards;
  }

  .hiddenScroll {
    scrollbar-width: none;
    &::-webkit-scrollbar {
      display: none;
    }
  }

  .absolute-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }

  .strike {
    position: relative;
    &::before {
      content: '';
      display: block;
      position: absolute;
      width: 108%;
      height: 1.5px;
      left: -4%;
      top: 50%;
      transform: translateY(-50%);
      background: rgb(var(--color-primary));
      box-shadow: 0.5px 0.5px 0px 0.5px rgb(var(--color-contrast));
    }
  }

  .card-image {
    @apply relative flex items-center justify-center overflow-clip rounded;
    &::before {
      content: ' ';
      @apply absolute top-0 left-0  block h-full w-full rounded shadow-border;
    }
    img {
      @apply aspect-[inherit] w-full object-cover;
    }
  }
}

input[type='checkbox'] {
  box-shadow: none;
  outline: none;
  color: #ef6e6e;
  height: 1.3rem;
  width: 1.3rem;
  border: 1px solid#737373;
}

input[type=checkbox]:focus {
  --tw-ring-offset-width: 0
}

.global-max-width-handler {
  max-width: 1480px;
  margin: auto;
  padding: 0 80px 0;
}

.highlight-none {
  box-shadow: none;
}

.highlight-none:focus {
  box-shadow: none;
}

.font-tiempos {
  font-family: Tiempos, 'serif';
}
.font-inter {
  font-family: "Inter", sans-serif;
}

.request-button {
  background: rgb(239, 110, 110);
  text-transform: uppercase;
  padding: 12px;
  cursor: pointer;
  color: white;
  border-radius: none;
}

.request-button:hover {
  background-color: #001a5f;
}
a:hover {
  color: #0056b3;
}

.px-12 {
  padding-left: 2rem;
  padding-right: 2rem;
}

nav a {
  text-decoration: none;
  transition: text-decoration 0.3s, font-style 0.3s;
}
.shadow-darkHeader {
  --tw-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0) !important;
}
.gap-1 {
  gap: 1.25rem;
}

.cars-killer {
  width: 24%;
  rotate: -7deg;
  margin-top: -21px;
}
.bg-contrast {
  background-color: none !important;
}

.handwritten-notice {
  text-align: center;
  color: #001a5f;
  line-height: 40px;
}

* .request-a-button {
  background: #1b5299;
  min-width: 250px;
  text-transform: uppercase;
  padding: 12px;
  min-height: 64px;
  cursor: pointer;
  color: #fff;
  font-size: 19px;
}
.robot-gif {
  margin-top: -37px;
}

.navbar-cart-icon {
  width: 25px;
  height: 29px;
  margin-top: -29px;
  color: #1e1e1e;
  transition: all 700ms;
}
.navbar-cart-icon:hover {
  color: #1b5299;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 60%;
  transform: translateX(-30%);
  color: #777777;
  font-size: 14px;
  letter-spacing: 0.1px;
  font-weight: lighter;
  width: 19rem;
  line-height: 25px;
  transition: opacity 0.4s ease-in-out, height 0.3s ease-in-out;
  margin-top: 0;
  width: 25%;
}

.dropdown > div {
  cursor: pointer;
}

.dropdown-list {
  padding: 35px 42px;
}
.dropdown-list li:hover {
  color: gray;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#customText {
  margin: 10px;
  width: 50%;
}
.output {
  /* word-break: break-all; */
  word-wrap: break-word;
  white-space: pre-wrap;
}
.output2 {
  word-wrap: break-word;
  white-space: pre-wrap;
}
.price-breakdown td {
  padding: 4px 16px;
  border: 1px solid #ddd;
  font-size: 14px;
}
.price-breakdown td.label {
  font-weight: 600;
}

.address-grid {
  border: 2px solid #aaaaaa;
  padding: 20px;
  border-radius: 10px;
  background: #f1f1f1;
  max-height: 600px;
  overflow-y: auto;
}
.column {
  float: left;
  width: 50%;
  padding: 10px;
  height: 600px; /* Should be removed. Only for demonstration */
}

#aiTextArea {
  font-size: 18px;
  height: 300px;
  line-height: 1.52rem;
  width: 100%;
  border: 1px dashed #999999;
  outline: none;
  padding: 10px 15px;
  overflow-y: auto;
  resize: none;
}
.ai-generate button {
  width: 50%;
  height: 50px;
  background-color: #ef6e6e;
  color: #fff;
  font-size: 16px;
  border: 0px;
  border-radius: 5px;
  margin-top: 10px;
  transition: all 0.5s ease-in-out;
}
.addFirstnameBtn {
  background: #1b5299;
  color: #fff;
  border: 0;
  border-radius: 4px;
  margin-bottom: 8px;
  padding: 8px;
  font-size: 14px;
  margin: 5px;
  font-weight: 400;
}

/* For mobile devices or narrow screens */
@media (max-width: 768px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  .table {
    width: 100%;
  }
  .ai-generate button {
    width: 50%;
    height: 50px;
    background-color: #ef6e6e;
    color: #fff;
    font-size: 16px;
    border: 0px;
    border-radius: 5px;
    margin-top: 10px;
    transition: all 0.5s ease-in-out;
  }
  .custom_testing {
    background-color: #f1f1f1;
    border: solid 2px #aaa;
    border-radius: 10px;
    padding: 15px;
    margin-top: 15px;
    width: 100%;
    max-width: 375px;
  }
  .addFirstnameBtn {
    background: #1b5299;
    color: #fff;
    border: 0;
    border-radius: 4px;
    margin-bottom: 8px;
  }
}

@font-face {
  font-family: 'Beauty';
  /* font-display: swap; */
  font-weight: 700;
  /* font-style: normal; */
  src: url('./fonts/Beauty_City.ttf') format('truetype');
}
@font-face {
  font-family: 'Hercules';
  /* font-display: swap; */
  font-weight: 700;
  /* font-style: normal; */
  src: url('./fonts/Hercules.ttf') format('truetype');
}
/* For mobile devices or narrow screens */
@media (max-width: 768px) {
  .table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
  }

  .table {
    width: 100%;
  }

  .table tbody {
    /* display: block; */
    width: 100%;
  }

  .table td,
  .table th {
    white-space: normal;
    text-align: left;
  }

  .table td {
    padding: 10px;
  }

  .table tr {
    margin-bottom: 10px;
    border: 1px solid #ccc;
    background-color: #fff;
  }
}

@font-face {
  font-family: 'Tarzan';
  font-weight: 700;
  font-style: normal;
  src: url('./fonts/Tarzan.ttf') format('truetype');
}
@font-face {
  font-family: 'Stitch';
  src: url('./fonts/Stitch.ttf') format('truetype');
}
@font-face {
  font-family: 'Pinocchio';
  font-size: 25px;
  src: url('./fonts/Pinocchio.ttf') format('truetype');
}
@font-face {
  font-family: 'Simba';
  src: url('./fonts/Simba.ttf') format('truetype');
}
@font-face {
  font-family: 'Roo';
  src: url('./fonts/Roo.ttf') format('truetype');
}
@font-face {
  font-family: 'Nemo';
  font-weight: 700;
  src: url('./fonts/Nemo.ttf') format('truetype');
}
@font-face {
  font-family: 'Lumiere';
  font-weight: 700;
  src: url('./fonts/Lumiere.ttf') format('truetype');
}
@font-face {
  font-family: 'Kaa';
  font-weight: 700;
  src: url('./fonts/Kaa.ttf') format('truetype');
}
@font-face {
  font-family: 'Karla';
  font-weight: 700;
  src: url('./fonts/Karla_700.ttf') format('truetype');
}
@font-face {
  font-family: 'Kaa-new';
  font-weight: 700;
  src: url('./fonts/Kaa-new.ttf') format('truetype');
}
@font-face {
  font-family: 'Dumbo';
  font-weight: 700;
  src: url('./fonts/Dumbo.ttf') format('truetype');
}
@font-face {
  font-family: 'Donald';
  font-weight: 700;
  src: url('./fonts/Donald.ttf') format('truetype');
}
@font-face {
  font-family: 'Aladdin';
  font-weight: 700;
  src: url('./fonts/Aladdin.ttf') format('truetype');
}

@font-face {
  font-family: 'Belle';
  font-weight: 700;
  src: url('./fonts/Belle.ttf') format('truetype');
}
@font-face {
  font-family: 'Boo';
  font-weight: 700;
  src: url('./fonts/Boo.ttf') format('truetype');
}
@font-face {
  font-family: 'Cinderella';
  font-weight: 700;
  src: url('./fonts/Cinderella.ttf') format('truetype');
}
@font-face {
  font-family: 'Copper';
  font-weight: 700;
  src: url('./fonts/Copper.ttf') format('truetype');
}
@font-face {
  font-family: 'Jasmine';
  font-weight: 700;
  src: url('./fonts/Jasmine.ttf') format('truetype');
}
@font-face {
  font-family: 'Merlin';
  font-weight: 700;
  src: url('./fonts/Merlin.ttf') format('truetype');
}
@font-face {
  font-family: 'Goofy';
  font-weight: 700;
  src: url('./fonts/Goofy.ttf') format('truetype');
}
@font-face {
  font-family: 'Hercules';
  font-weight: 700;
  src: url('./fonts/Hercules.ttf') format('truetype');
}
@font-face {
  font-family: 'Rafiki';
  font-weight: 700;
  src: url('./fonts/Rafiki.ttf') format('truetype');
}
@font-face {
  font-family: 'Rapunzel';
  font-weight: 700;
  src: url('./fonts/Rapunzel.ttf') format('truetype');
}
@font-face {
  font-family: 'Ratigan';
  font-weight: 700;
  src: url('./fonts/Ratigan.ttf') format('truetype');
}
@font-face {
  font-family: 'Sarabi';
  font-weight: 700;
  src: url('./fonts/Sarabi.ttf') format('truetype');
}
@font-face {
  font-family: 'Scar';
  font-weight: 700;
  src: url('./fonts/Scar.ttf') format('truetype');
}
@font-face {
  font-family: 'Triton';
  font-weight: 700;
  src: url('./fonts/Triton.ttf') format('truetype');
}
@font-face {
  font-family: 'Woody';
  font-weight: 700;
  src: url('./fonts/Woody.ttf') format('truetype');
}
@font-face {
  font-family: 'hello keta';
  font-weight: 700;
  src: url('./fonts/helloketta-d99ox.ttf') format('truetype');
}
@font-face {
  font-family: 'Alex';
  font-weight: 700;
  src: url('./fonts/AlexBrush-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'wedding';
  font-weight: 700;
  src: url('./fonts/WeddingdayPersonalUseRegular-1Gvo0.ttf') format('truetype');
}
@font-face {
  font-family: 'sea garden';
  font-weight: 700;
  src: url('./fonts/SeaGardens-Italic.otf') format('truetype');
}
@font-face {
  font-family: 'great vibes';
  font-weight: 700;
  src: url('./fonts/GreatVibes-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'Copper Canyon';
  font-weight: 700;
  font-style: italic;
  src: url('./fonts/CopperCanyonWBW.ttf') format('truetype');
}
@font-face {
  font-family: 'Via';
  font-weight: 700;
  src: url('./fonts/Viafont.ttf') format('truetype');
}
@font-face {
  font-family: 'Winter Song';
  font-weight: 700;
  src: url('./fonts/Wintersing.ttf') format('truetype');
}
@font-face {
  font-family: 'Premium Ultra';
  font-weight: 700;
  src: url('./fonts/Ultra.ttf') format('truetype');
}

/* Pagination container */
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  gap: 20px;
}

/* Pagination buttons */
.pagination button {
  background-color: #0D0C22;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

/* Disabled pagination buttons */
.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Active page button */
.pagination button.active {
  background-color: #333;
}

/* Adjust styles as needed to match your design */

.overflow-popup {
  max-height: 50vh;
  overflow: auto;
}

.type-select select {
  --tw-ring-color: transparent;
}

.dropdown > div {
  cursor: pointer;
  margin-bottom: 4px;
}

a:hover {
  color: #0056b3;
}

.px-12 {
  padding-left: 2rem;
  padding-right: 2rem;
}
.lg\:px-12 {
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 12rem !important;
}

nav a {
  text-decoration: none;
  transition: text-decoration 0.3s, font-style 0.3s;
}
.shadow-darkHeader {
  --tw-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0) !important;
}

.gap-1 {
  gap: 1.25rem;
}
.logo-simplinoted {
  width: 300px;
  rotate: -5deg;
  max-height: 241px;
  position: relative;
  left: -10px;
  top: 50px;
  order: -1;
}
.cars-killer {
  width: 295px;
  rotate: -7deg;
  margin-top: -21px;
  position: relative;
  right: 35px;
  top: 0;
}
.thankyou_img {
  width: 23%;
  display: none;
}
.bg-contrast {
  background-color: none !important;
}

.handwritten-notice {
  margin-top: 55px;
}
.handwritten-notice h3 {
  font-size: 45px;
  color: #001a5f;
}
.typewriter-effect {
  margin-left: 49px;
}
.typewriter-bottom-line {
  position: relative;
  height: 15px;
  width: 240px;
  display: inline-block;
  border-bottom: 2px solid #001a5f;
  background: #e2ebf8;
  overflow: hidden;
  z-index: -1;
}
.handwritten-notice p {
  font-size: 45px;
  color: #001a5f;
  font-weight: 500;
  margin-left: 80px;
}
.scale-starting {
  font-size: 21px;
  margin-top: 12px;
}
.start-writing-button {
  margin-right: 10px;
  background-color: #ef6e6e;
  min-width: 264px;
  text-transform: uppercase;

  border-radius: 0px;
  min-height: 64px;
  cursor: pointer;
  color: #fff;
  font-size: 19px;
  font-weight: 300 !important;
}
.start-writing-button:hover {
  background-color: #1b5299;
}
.request-a-button {
  background: #1b5299;
  min-width: 250px;
  border-radius: 0px;
  text-transform: uppercase;
  font-weight: 300 !important;
  min-height: 64px;
  cursor: pointer;
  color: #fff;
  font-size: 19px;
}

.request-a-button:hover {
  background-color: #ef6e6e;
}
.robot-gif {
  margin-top: 7px;
}
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown > div {
  cursor: pointer;
}
/* .dropdown:hover{
  background: url(../../assets/Image/menu-underline.png) no-repeat;
  background-position: bottom;
  background-size: 100%;
} */
.dropdown-content {
  opacity: 0;
  height: 0;
  overflow: hidden;
  position: absolute;
  background-color: #f9f9f9;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  left: 60%;
  transform: translateX(-30%);
  color: #777777;
  font-size: 15px;
  letter-spacing: 0.1px;
  font-weight: lighter;
  width: 19rem;
  line-height: 25px;
  transition: opacity 0.4s ease-in-out, height 0.3s ease-in-out;
}

.dropdown-content.show {
  opacity: 1;
  height: auto;
}
button[disabled] {
  opacity: 0.7;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: white;
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.button-tomato {
  background-color: #ef6e6e;
}

.button-blue {
  background-color: #1b5299;
}

body {
  overflow-x: hidden;
}
.finish-button-editing {
  background-color: #1b5299;
  width: 250px;
  text-align: center;
  color: white;
  height: 43px;
  padding-top: 6px;
  position: absolute;
  margin-top: 83px;
}

.dark {
  color: darkslategray;
}

.overflow-x-hidden {
  overflow: show !important;
}
.testing {
  border: 1px solid black;
  height: 123px;
  width: 123px;
  position: absolute;
  margin-top: 88px;
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  flex-direction: column;
  gap: 20px;
}

/* Pagination buttons */
.pagination button {
  background-color: #0D0C22;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 0 5px;
  cursor: pointer;
}

/* Disabled pagination buttons */
.pagination button[disabled] {
  background-color: #ccc;
  cursor: not-allowed;
}

/* Active page button */
.pagination button.active {
  background-color: #333;
}

/* Adjust styles as needed to match your design */

.overflow-popup {
  max-height: 50vh;
  overflow: auto;
}

.type-select select {
  --tw-ring-color: transparent;
  opacity: 0 !important;
}
.btn1,
.req-btn {
  padding: 20px 30px;
  margin-top: 7px;
  background: #ef6e6e;
  color: white;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin-right: 15px;
  border-radius: 0px;
}
.btn1:hover,
.req-btn:hover {
  border-radius: 0px;
  background-color: #1b5299;
}
.subscribe {
  border-radius: 0px;
  border: 2px solid #ef6e6e;

  background: #ef6e6e;
  color: white;
  width: 8.5rem;
  font-size: 16px;
  font-weight: 600;
  height: 56px;
}
.subscribe:hover {
  border: none;
  border-radius: 0px;
  background-color: #1b5299;
}
.texts {
  color: #707070;
  font-size: 20px;
  font-weight: normal;
  line-height: 30px;
  margin-bottom: 20px;
}
/* global.css */

/* global.css */

.INTEGRATE {
  position: relative;
  width: 100%;
  max-width: 256px;
  height: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* tailwind.css */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation: fadeIn 1.5s ease-out;
}

.INTEGRATE::after {
  content: '';
  background-image: url('https://simplynoted.com/cdn/shop/files/Group_460.svg');
  background-size: cover;
  background-position: center;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

/* Your existing DynamicButton styles */

.btn2 {
  background: url(../../assets/Image/button-blue.png) no-repeat;
  background-size: 100% 100%;
  color: #001a5f;
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  line-height: 16px;
  padding: 26px 56px;
}
.robot {
  position: absolute;
  z-index: -1;
  width: 28%;
  left: 37.5rem;
}

.robot2 {
  position: absolute;
  z-index: -1;
  width: 28%;
  left: 24rem;
}
.robot-img {
  width: 100%;
  height: auto;
  position: relative;
  z-index: 1;
}
.robot-gif {
  max-width: 500px;
  width: 55%;
  display: inline;
}
.robot-gif2 {
  max-width: 500px;
  width: 106%;
  margin-left: 1rem;
}

.swiper-wrapper {
  display: inline-flex;
}
.swiper {
  width: 100%;
  overflow-x: hidden;
}

.btn3,
.sch-btn {
  background: url(../../assets/Image/button-white.webp) no-repeat;
  background-size: 100% 100%;
  display: inline-block;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  color: white;
  padding: 26px 35px;
  cursor: pointer;
}

.bottom_background {
  background: url(../../assets/Image/box-blue.webp) no-repeat;
  height: 100%;
  background-size: 104% 102%;
  margin-left: -40px;
  margin-right: -40px;
  color: white;
}

.user-name {
  width: 100px;
  height: 100px;
  background: #e7e6f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 40px;
  font-weight: 900;
  text-transform: uppercase;
  border-radius: 50%;
  margin: 0 auto;
}
.user-name-account {
  width: 48px;
  height: 48px;
  background: #e7e6f0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  font-weight: 500;
  text-transform: uppercase;
  border-radius: 24px;
  margin: 0 auto;
}

.video-home {
  width: 100%;
  margin-top: 10px;
  position: static;
}
.input_email {
  width: 38%;
  height: 56px;
  border: 2px solid gray;
  color: gray;
}
.input_email:focus {
  border-color: gray;
  box-shadow: none;
}
.swiper-company {
  margin-left: 1px 20px;
}

.navitem-active {
  color: #ef6e6e;
  background: url(../../assets/Image/menu-underline.png) no-repeat;
  background-position: bottom;
  background-size: 100%;
}
/* .navitems {
  padding-bottom: 8px;
  position: relative;
  overflow: hidden;
  transition: color 700ms;
} */

.font-aggressive {
  font-family: 'Your-Aggressive-Font-Family', sans-serif;
  font-weight: 900;
}

.navitems::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 100%;
  margin-top: 20px;
  background: url(../../assets/Image/menu-underline.png) no-repeat;
  background-size: 100% 15%;
  transition: width 400ms;
  z-index: -1;
}
.navitems:hover::after {
  width: 100%;
}

.navitems:hover {
  color: #3d3eb7 !important;
}

/* .navbar-item:hover{
  background: url(../../assets/Image/menu-underline.png) no-repeat;
  height: 100%;
  background-size: 104% 102%;
} */

.data-background {
  background: url(../../assets/Image/background-notes.webp) no-repeat;
  height: 100%;
  background-size: 102% 102%;
}
.button-top {
  position: fixed;
  z-index: 10;
  padding: 1rem 1rem;
  font-size: 20px;
  bottom: 40px;
  right: 0px;
  background-color: rgba(153, 98, 27, 0.75);
  color: #fff;
  text-align: center;
}

.btnShadow {
  box-shadow: 5px 8px 15px rgb(0 0 0 / 40%);
}

.selectArrow select {
  background-image: url(../../assets/Image/Polygon_13.svg) !important;
  background-size: 6% !important;
}

/*********************************LOGIN-MODAL-PAGE********************************/

.shadow-custom {
  background: rgb(239, 110, 110);
  font-weight: 500;
  font-size: 19px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Apply styles to the custom spinner */
.custom-spinner {
  animation: spin 1s linear infinite; /* Adjust animation duration and timing function as needed */
}

.arrow-down-line {
  z-index: 1;
}

/************************************PRICE*****************************/

.flex-item {
  background-image: url('https://simplynoted.com/cdn/shop/files/circle-title.png');
  color: #fff;
  font-size: 36px;
  line-height: 30px;
  font-weight: 700;
  height: 145px;
  width: 145px;
  border-radius: 50%;
  padding: 36px 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 23px 45px;
}

@media only screen and (max-width: 600px) {
  .flex-item {
    font-size: 24px;
    height: 100px;
    width: 100px;
    padding: 20px 5px;
    margin: 15px 30px;
  }
}
.credits-card {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.credits-cont {
  position: absolute;
  top: -77px;
}

.Includes {
  text-align: center;
  font-size: 20px;
  color: #001a5f;
  font-weight: inherit;
}

.side-line {
  right: -48px;
  min-width: 20px;
}

.main-cont {
  min-height: 377px;
}

.discrition {
  margin-left: 41px;
}

@media only screen and (max-width: 600px) {
  .credits-cont {
    top: 0;
  }

  .side-line {
    right: 0;
  }

  .main-cont {
    min-height: auto;
  }

  .discrition {
    margin-left: 0;
  }
}

.add-to-cart {
  background: #ef6e6e;
  bottom: -22px;
  color: #fff;
  font-size: 16px;
  line-height: 16px;
  font-weight: 700;
  left: 0;
  margin: auto;
  right: 0;
  padding: 24px 25px;
  text-align: center;
  max-width: 265px;
  width: 100%;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  margin-top: -51px;
}

.circle-percentage {
  background: #ef6e6e;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  color: #fff;
  font-family: 'Beauty City', Handwriting !important;
  font-size: 22px;
  font-weight: 400;
  height: 66px;
  margin: auto;
  padding: 20px 5px;
  text-align: center;
  width: 66px;
}

.real-pen-notice {
  background: url('https://simplynoted.com/cdn/shop/files/pricing-box-white.png');
  background-size: 100% 100%;
  height: 235px;
  padding: 30px 30px;
  position: relative;
  width: 100%;
}

@media only screen and (max-width: 600px) {
  .add-to-cart {
    padding: 16px 20px;
    font-size: 14px;
  }

  .circle-percentage {
    font-size: 18px;
    height: 50px;
    width: 50px;
    padding: 15px 5px;
  }
}
.real-pen-notice .p {
  color: #001a5f;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 24px;
  text-align: center;
}

.card-icon {
  position: absolute;
  max-height: 34px;
}

.custom-icon {
  max-height: 23px;
  padding-left: 12px;
}

.amount {
  background-image: url('https://simplynoted.com/cdn/shop/files/pricing-table-field.png');
  color: #001a5f;
  display: flex;
  justify-content: space-between;
  padding: 8px;
  background-size: 100% 100%;
  font-size: 19px;
  gap: 30px;
}

.right-cont {
  background-image: url('https://simplynoted.com/cdn/shop/files/pricing-form-bg.png');
  background-size: 100% 100%;
  color: #fff;
}

@media only screen and (max-width: 600px) {
  .real-pen-notice .p {
    font-size: 16px;
    line-height: 20px;
  }

  .custom-icon {
    max-height: 20px;
    padding-left: 8px;
  }

  .amount {
    gap: 15px;
  }
}

/************************************About Us*****************************/
.wrapper-videos iframe {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/************************************F.A.Q.*****************************/

.tab-content {
  display: flex;
  justify-content: space-between;
  background: #fff;
  font-weight: 700;
  cursor: pointer;
  color: #000 !important;
  border-bottom: 1px solid #d3d3d3;
  padding: 25px 20px;
  font-size: 20px;
}

.Delight-customers {
  font-size: 19px;
}
.card-image-shopify {
  max-width: 436px;
  margin-left: -247px;
}
.send-one {
  font-size: 31px;
  color: #001a5f;
  font-weight: 700;
}
.consetetur {
  font-weight: 300;
  font-size: 17px;
  margin-top: 22px;
  margin-bottom: 22px;
}
.tutorials {
  padding: 11px;
  font-weight: 700;
  margin-top: 14px;
  border: 2px solid black;
  color: #ef6e6e;
  width: 142px;
}
.simplinoted-card-image {
  max-width: 511px;
  margin-right: -326px;
}
.banner-detail {
  background-image: url('https://simplynoted.com/cdn/shop/files/blue-callout.png');
  background-size: contain;
  background-position: center;
  width: 100%;
  display: flex;
  height: 437px;
  background-repeat: no-repeat;
  align-items: center;
  justify-content: center;
  padding: 0 15%;
  flex-direction: column;
  text-align: center;
}
.banner-detail-roi {
  background-image: url('https://simplynoted.com/cdn/shop/files/calculator-callout.png');
  background-size: contain;
  background-position: center;
  width: 100%;

  height: 307px;
  background-repeat: no-repeat;
}
.roi-total {
  background-image: url('https://simplynoted.com/cdn/shop/files/roi-bg.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  width: 448px;
  height: 119px;
  padding: 19px;
  position: absolute;
  margin-left: -12px;
}

.form {
  display: flex;
  justify-content: center;
  border: 1px solid black;
  width: 56%;
  height: 462px;
  margin-top: 49px;
  margin-left: 124px;
  background: #203569;
}
.input-type {
  background: #203569;
}

.roi-dots:before {
  content: '.';
  color: white;
  left: 4px;
  font-size: 4em;
  position: relative;
}
/******************* SALESFORCE FORM STYLES ****************************/
.wrap-business-banner {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #1e1e1e;
  text-align: left !important;
  box-sizing: border-box;
  display: inline-flex;
  z-index: 0;
  margin-top: 40px;
}

.formStamp {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #1e1e1e;
  text-align: left !important;
  box-sizing: border-box;
  position: absolute;
  z-index: 3;
  left: -70px;
  top: -25px;
}

.wrap-business-form,
.wrap-business-form-salesforce {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #1e1e1e;
  text-align: left !important;
  box-sizing: border-box;
  height: auto !important;
  padding-bottom: 39px !important;
  background: url('../../assets/Image/salesforce-form-bg-1.webp') no-repeat;
  background-size: 100% 100%;
  margin-top: 0;
  margin-bottom: 3vw;
  width: 532px;
  max-width: 100%;
  z-index: 2;
  padding: 20px;
}

.form-title {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  display: block;
  position: relative;
  font-family: Karla, sans-serif;
  font-weight: 700 !important;
  margin-top: 40px !important;
  padding-bottom: 0 !important;
  text-align: center;
  width: 90%;
  margin: auto;
  margin-bottom: 5px !important;
  line-height: 40px;
  color: #fff;
  font-size: 24px;
  max-width: 280px;
}

.messageBox {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Karla', sans-serif;
  font-weight: 300;
  box-sizing: border-box;
  margin: 16px 0 0 0px;
  font-size: 24px !important;
  line-height: 40px !important;
  max-width: 350px;
  color: #fff;
  text-align: center;
  margin-top: 0 !important;
  padding-bottom: 10px;
}

.hubForm {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #1e1e1e;
  text-align: left !important;
  box-sizing: border-box;
  width: 75%;
  margin: auto;
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.hubForm input,
.hubForm select {
  background: 0 0;
  border: none;
  color: #fff;
  width: 100%;
}

.hubForm input:focus,
.hubForm select:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.hubForm select option {
  background: 0 0;
  background-color: #1f3469;
}

.row {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #1e1e1e;
  text-align: left !important;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin-right: -10px;
  margin-left: -10px;
}

.white-underline,
.white-underline-salesforce {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  color: #1e1e1e;
  box-sizing: border-box;
  width: 47%;
  position: relative;
  padding-bottom: 20px;
  text-align: left;
  margin: 1.5%;
}

.white-underline:after,
.white-underline-salesforce:after {
  content: '_';
  color: #1f3469;
  position: absolute;
  bottom: -10px;
  left: -8px;
  width: 100%;
  background: url('../../assets/Image/white-underline.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.sample-request {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  overflow: visible;
  padding: 21px 35px;
  background: url('../../assets//Image/signup-background.svg') !important;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  text-transform: uppercase;
  font-weight: 700 !important;
  cursor: pointer !important;
  -webkit-appearance: button;
  border: none;
  color: #fff;
}

.card-lorem {
  text-align: justify;
  background: #fff;
  box-shadow: 1px 1px 12px 0 rgba(0, 0, 0, 0.3);
  padding: 45px 65px;
  position: absolute;
  right: 3.5vw;
  top: 11%;
  width: 32vw;
  z-index: 1;
}
.curve-line {
  z-index: 2;
}

.business-btn {
  padding: 8px 18px;
  margin-top: 1px;
  background: #ef6e6e;
  color: white;
  display: inline-block;
  font-size: 12px;
  font-weight: 300;
  line-height: 16px;
  margin-right: 15px;
  border-radius: 0px;
}
.wrap-integrate {
  background: url('../../assets/Image/click-bg.png') no-repeat;
  background-size: 100% 100%;
  color: #fff;
  font-size: 40px;
  line-height: 25px;
  height: 100px;
  padding: 20px 34px;
  text-align: center;
  width: 190px;
}

.click-link:hover {
  box-shadow: 2px 2px 10px rgb(0 0 0 / 40%);
  color: #007bff;
}

/******************* SALESFORCE FORM STYLES ****************************/
.wrap-sample-form,
.wrap-sample-form-sign {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  /* color: #1e1e1e; */
  text-align: left !important;
  box-sizing: border-box;
  height: auto !important;
  padding-bottom: 39px !important;
  background: url('../../assets/Image/salesforce-form-bg-1.webp') no-repeat;
  background-size: 100% 100%;
  margin-top: 0;
  margin-bottom: 3vw;
  margin-left: 7rem;
  width: 397px;
  max-width: 100%;
  z-index: 2;
}

.hubForm ::placeholder {
  color: white;
  opacity: 1;
  font-size: 14px;
}

/******************* FAQ ****************************/

.faq-accordion {
  transition: transform 0.2s;
}
.faq-accordion:hover {
  transform: scale(1.01);
  box-shadow: 2px 2px 2px rgb(0 0 0 / 40%);
}

.faq-transition {
  /* transition:height 10s ease-in-out;
  transition-delay:10s; */

  transition: all 0.35s 1s;
}

/******************* Partner-referral ****************************/
.wrap-referral-form {
  background: url('../../assets/Image/form-bg.webp') no-repeat;
  background-size: 100% 100%;
  width: 900px;
  height: auto;
  display: flex;
  padding: 20px;
  align-items: start;
  flex-direction: row;
  justify-content: center;
  background-size: cover;
  background-repeat: no-repeat;
  filter: drop-shadow(0px 0px 35px rgba(0, 0, 0, 0.2));
  -webkit-filter: drop-shadow(0px 0px 35px rgba(0, 0, 0, 0.2));
  -moz-filter: drop-shadow(0px 0px 35px rgba(0, 0, 0, 0.2));
}

.wrap-referral-form input,
.wrap-referral-form select {
  background: 0 0;
  border: none;
  color: #3d3d3d;
  font-size: 13px;
}

.wrap-referral-form input:focus,
.wrap-referral-form select:focus {
  outline: none !important;
  outline-width: 0 !important;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}
.wrap-referral-form ::placeholder {
  color: rgb(50, 50, 50);
  opacity: 1;
  font-size: 13px;
}
.wrap-referral-form select option {
  background: 0 0;
  background-color: #1f3469;
}

.top-underline {
  width: 100%;
  padding-bottom: 15px;
  position: relative;
  text-align: left;
  margin: 1.5%;
}

.top-underline:after {
  content: '  ';
  position: absolute;
  bottom: -10px;
  left: -8px;
  width: 100%;
  background: url('../../assets/Image/form-field-underline-long.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 5px;
}

.underline-heading {
  display: flex;
  flex-wrap: wrap;

  margin-right: -10px;
  margin-left: -10px;
}

.underline-text {
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  font-family: 'Karla', sans-serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 22px;
  box-sizing: border-box;
  width: 47%;
  padding-bottom: 15px;
  position: relative;
  text-align: left;
  margin: 1.5%;
}

.underline-text:after {
  content: '  ';
  color: #1f3469;
  position: absolute;
  bottom: -10px;
  left: -8px;
  width: 100%;
  background: url('../../assets/Image/form-field-underline.svg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 5px;
}
.referral-button {
  overflow: visible;
  padding: 24px 65px;
  background: url('../../assets//Image/signup-background.svg') !important ;
  background-position: center !important;
  background-repeat: no-repeat !important;
  background-size: contain !important;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 15px !important;
  cursor: pointer;
  border: none;
  color: #fff !important;
}

/******************* signup-partner ****************************/
.signup-overview {
  background-image: url('../../assets//Image/signup-overview-bg.webp');
  background-size: contain;
  width: 466px;
  height: 503px;
  display: block;
  filter: drop-shadow(0px 0px 35px rgba(0, 0, 0, 0.2));
  -webkit-filter: drop-shadow(0px 0px 35px rgba(0, 0, 0, 0.2));
  -moz-filter: drop-shadow(0px 0px 35px rgba(0, 0, 0, 0.2));
  display: flex;
  justify-content: start;
  flex-direction: column;
  align-items: start;
  margin: 30px auto;
  max-width: 100%;
  background-repeat: no-repeat;
}

.signup-title {
  font-size: 24px;
  background-image: url('../../assets//Image/signup-overview-title-bg.png');
  padding: 8px;
  width: 433px;
  height: 82px;
  text-align: center;
  background-repeat: no-repeat;
  color: #001a5f;
  background-size: contain;
  margin-top: 30px;
  width: 100%;
}

.signup-row {
  margin: 13px auto;
  display: flex;
  justify-content: space-between;
  width: 90%;
  background-color: #f4f4f4;
  padding: 5px 10px;
}
.signup-underline {
  background: url('../../assets/Image/signup-underline.png') no-repeat;
  background-position: bottom center;

  padding-bottom: 10px !important;
}

.programm-list {
  padding-bottom: 15px;
  font-size: 18px;
  color: #262626;
  font-weight: 500;
  position: relative;
  list-style-type: none;
  padding-right: 25px;
}
.programm-list::before {
  content: '.';
  color: #000;
  left: -12px;
  font-size: 2em;
  position: relative;
}

.titleImage {
  background: url(../../assets/Image/underline-2-img.png) no-repeat !important;
  background-position: center bottom !important;
  background-size: 95% !important;
}
.item_block_left::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: calc(100% - 20px);
  background-color: #aaa;
  left: 0;
}

.item_block_middle::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: calc(100% - 30px);
  background-color: #aaa;
  left: 50%;
  transform: translate(-50%);
}

.item_block_right::before {
  content: '';
  position: absolute;
  bottom: 0;
  height: 1px;
  width: calc(100% - 15px);
  background-color: #aaa;
  right: 0;
}
/********************************************* ROI CALCULATOR **********************************************************/
.roi-calculator-section-1 {
  margin: 40px auto;
}

.roi-container {
  position: relative;
  width: 100%;
  max-width: 1450px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
}

.simply-noted-marketing {
  background-image: url('../../assets/Image/roi-page-bg.webp');
  background-size: 100% 95%;
  background-position: center;
  background-repeat: no-repeat;
  width: 81%;
  padding: 28px;
  height: 878px;
  padding-top: 10px;
  position: relative;
  z-index: 3;
  margin-top: 0 !important;
  padding: 70px 10px 10px 10px;
}

.category-heading {
  background: url('../../assets/Image/roi-underline.png') no-repeat;
  background-position: bottom center;
  background-size: contain;
  color: #001a5f;
  font-family: Karla, sans-serif;
  font-size: 50px !important;
  font-weight: 700 !important;
  letter-spacing: -2.07px !important;
  line-height: 64px !important;
  margin-bottom: 20px;
  padding-bottom: 10px !important;
  text-align: center;
  text-transform: inherit;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
}

.category-heading-mobile {
  background: url(/cdn/shop/files/roi-line-mobile.png) no-repeat;
  background-position: bottom center;
  font-size: 30px !important;
  line-height: 1 !important;
  margin-bottom: 60px !important;
  color: #001a5f;
  font-family: Karla, sans-serif;
  font-size: 50px !important;
  font-weight: 700 !important;
  letter-spacing: -2.07px !important;
  line-height: 64px !important;
  margin-top: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px !important;
  text-align: center;
  text-transform: inherit;
  display: none;
}

.roi-calculator {
  display: flex;
  overflow: visible;
  position: relative;
  gap: 50px;
}

.roi-calculator-input-wrapper {
  height: auto;
  width: 50%;
  background-color: transparent;
  padding: 0;
  color: #000;
  box-sizing: border-box;
  float: none;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  display: flex;
  justify-content: center;
  position: relative;
}

.roi-leading-arrow {
  position: absolute;
  bottom: -89px;
  right: -130px;
  z-index: -1;
}

.input-holders {
  height: 100%;
  width: 70%;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
}

.roi-small-heading {
  font-size: 13px;
  margin: 10px auto;
  color: #777;
}

.input-holder {
  margin-bottom: 5px;
}

.input-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.input-header h4 {
  font-size: 18px;
  font-weight: 700;
  color: #001a5f;
}
.roi-text-num {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}
.roi-text-right {
  color: #001a5f;
}
.simply-noted-marketing input[type='range'] {
  -webkit-appearance: none;
  margin: 5px 0;
  width: 100%;
  height: 34px;
  background: rgb(186, 182, 206);
  border-radius: 25px;
  position: relative;
}

/* Styling for the slider thumb */
.simply-noted-marketing input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 30px;
  height: 34px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

/* Adjust the color of the thumb on Mozilla Firefox */
.simply-noted-marketing input[type='range']::-moz-range-thumb {
  width: 30px;
  height: 34px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
}

.roi-calculator-output-wrapper {
  height: auto;
  width: 50%;
  background-color: transparent;
  padding: 0;
  box-sizing: border-box;
  float: none;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  display: flex;
  justify-content: start;
}

.output-holders {
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: start;
  background-color: #f8f8f8;
  max-width: 100%;
  padding: 20px 20px 0;
  border-radius: 10px 10px 25px 25px;
  position: relative;
  width: 100%;
  overflow: hidden;
}
.output-holder {
  margin-bottom: 0px;
}
.output-holders h2 {
  text-align: center;
  font-size: 22px;
  color: #001a5f;
  font-family: 'Karla';
}
.roi-diveder-line {
  position: absolute;
  background-image: url('../../assets/Image/roi-breakdown-line.png');
  display: block;
  width: 10px;
  height: 100%;
  background-repeat: no-repeat;
  right: 80px;
  top: 97px;
}

.output-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.output-item {
  font-family: 'Karla';
  color: black;
}
.output-item p {
  font-size: 12px;
}
.roiNumbers {
  width: 85%;
}
.roi-totals {
  background-image: url('../../assets/Image/roi-red-bg.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  height: 110px;
  padding: 20px;
  position: relative;

  margin-bottom: 22px;
}

.roi-robot-cont {
  position: absolute;
  right: 10px;
  top: 282px;
  z-index: 1;
  width: 32%;
}

.roi-total-head,
.roi-total-value {
  color: white;
  font-size: 18px;
  font-family: none;
}

/* Media Query */
@media only screen and (max-width: 1326px) {
  .robot-gif {
    width: auto;
  }
  .robot {
    width: 24%;
    left: 35rem;
  }
}

@media only screen and (max-width: 1200px) {
  .dropdown-content {
    top: 24px;
    width: 12rem;
  }
  .dropdown-list {
    padding: 22px 20px;
  }
  .swiper-company {
    margin-right: 80px;
  }
  .signup-row {
    margin: 10px auto;
  }
  .cars-killer {
    width: 245px;
    right: 0px;
  }
  .handwritten-notice h3 {
    font-size: 40px;
  }
}
@media only screen and (max-width: 1119px) {
  .item_block_middle::before {
    opacity: 0;
  }
  .item_block_left::before {
    opacity: 0;
  }
  .item_block_right::before {
    opacity: 0;
  }
}
@media only screen and (max-width: 1124px) {
  .signup-row {
    margin: 5px auto;
  }
}
@media only screen and (max-width: 1024px) {
  .texts {
    font-size: 18px;
  }
  .handwritten-notice h3 {
    font-size: 40px;
  }
  .logo-simplinoted {
    display: none;
  }
  .thankyou_img {
    display: block;
    position: absolute;
    width: 30%;
    margin-left: 25rem;
    margin-top: 8rem;
    z-index: 1;
  }

  .cars-killer {
    position: static;
    margin-top: 42px;
    width: 32%;
    margin-left: 16rem;
  }
  .start-writing-button,
  .request-a-button {
    font-size: 13px;
    margin-bottom: 10px;
    margin-right: 0px;
    min-width: 170px;
    min-height: 46px;
    font-weight: 300 !important;
  }
  .scale-starting {
    font-size: 14px;
    padding-top: 10px;
  }
  .underline-heading {
    display: block;
  }
  .underline-text {
    width: 100%;
  }
  .wrap-referral-form {
    width: 570px;
  }
  .wrap-business-form-salesforce {
    width: 100%;
  }
  .req-btn {
    width: 50%;
    height: 50px;
  }
  .sch-btn {
    font-size: 11px;

    width: 60%;
    height: 90%;
  }
  .signup-row {
    margin: 13px auto;
  }
  .wrap-sample-form-sign {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .wrap-sample-form {
    width: 75%;
    margin-left: 0px;
  }
  .custom_testing {
    margin-bottom: 10px;
    width: 89%;
  }
  .simply-noted-marketing {
    width: 85%;

    background-image: none;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    height: 100%;
  }
  .roi-calculator {
    display: grid;
    margin-left: auto;
    margin-right: auto;
  }
  .roi-leading-arrow {
    display: none;
  }
  .roi-calculator-output-wrapper {
    width: 100%;
    justify-content: center;
  }
  .roi-robot-cont {
    display: none;
  }
  .roi-calculator-input-wrapper {
    width: 100%;
  }
  .white-underline-salesforce {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .req-btn {
    width: 67%;
    margin-left: 5rem;
  }
  .wrap-sample-form-sign {
    width: 93%;
    padding: 10px;
  }
  .sch-btn {
    font-size: 11px;
    margin-top: 10px;
    width: 70%;
    margin-left: 5rem;
    margin-bottom: 30px;
  }
  .titleImage {
    background: none !important;
  }
  .signup-overview {
    background-size: 100% 83%;
    height: 585px;
    margin-bottom: 0px;
    width: 100%;
  }
  .input_email {
    width: 54%;
  }
  .bottom_background {
    margin-right: 0px;
  }
  .swiper-button-prev,
  .swiper-button-next {
    background-color: #ef6e6e;
    padding: 8px;
    padding-left: 8px;
    border-radius: 50%;
  }

  .thankyou_img {
    width: 41%;
    margin-top: 8rem;
    margin-left: 18rem;
  }
  .cars-killer {
    width: 45%;
    margin-left: 7rem;
  }
  .handwritten-notice h3 {
    font-size: 32px;
    margin-right: 0px;
  }
  .white-underline {
    width: 100%;
  }
  .data_card {
    margin: 0 31px;
    height: 77%;
  }
  .programm-list {
    padding-bottom: 0px;
    font-size: 15px;
  }
  .banner-detail {
    background-size: 81% 85%;
  }
  .roiNumbers {
    width: 100%;
  }
  .input-holders {
    width: 100%;
  }
  .banner-detail-roi {
    background-size: 57% 80%;
  }
  .custom_testing {
    width: 52%;
  }
}
@media only screen and (max-width: 511px) {
  .custom_testing {
    width: 100%;
  }
  .data_card {
    margin: 0px;
  }
  .signup-title {
    background-image: none;
  }
  .thankyou_img {
    width: 41%;
    margin-top: 6rem;
    margin-left: 12rem;
  }
  .cars-killer {
    width: 45%;
    margin-left: 4rem;
  }
  .wrap-sample-form {
    width: 90%;
    padding: 10px;
  }
  .wrap-business-form-salesforce {
    padding: 10px;
  }
  .form-title {
    font-size: 12px;
  }
}
@media only screen and (max-width: 500px) {
  .simply-noted-marketing {
    width: 100%;
  }

  .roi-calculator-input-wrapper {
    width: 100%;
    justify-content: flex-start;
  }
}
.sidebar::-webkit-scrollbar {
  width: 5px;
}

.sidebar::-webkit-scrollbar-thumb {
  background-color: #888; /* Color of the scrollbar thumb */
  border-radius: 6px; /* Round corners of the thumb */
}

.sidebar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1); /* Color of the scrollbar track */
}
.sidebar {
  scrollbar-color: #888 #f1f1f1;
  scrollbar-width: thin;
  border-right-width: 2px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* Account Page Tab Css  */

/* CSS */

/* Styles for the tab buttons */
.tab-button {
  min-width: 143px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #000;
  border-bottom: 2px solid transparent; /* Default border color */
  font-size: 16px;
  text-transform: uppercase;
  cursor: pointer;
  transition: border-color 0.8s, color 0.8s;
  outline: none !important;
}

.tab-button.active-tab {
  border-color: #001a5f;
  color: #001a5f;
}

.tab-button:hover {
  color: #1b5299;
  border-color: #1b5299;
  border-bottom-width: 1px solid transparent; /* Default border color */

  transition: border-width 0.3s ease-in-out; /* Smooth transition */
}

/* custom scroll bar css  */

.custom-scrollbar {
  overflow-y: auto;
  height: 600px;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #888888 #f0f0f0; /* For Firefox */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 2px; /* Width of vertical scrollbar */
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent; /* Color of scrollbar track */
  border-radius: 20px; /* Rounded corners of scrollbar track */
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #888888; /* Color of scrollbar thumb */
  border-radius: 20px; /* Rounded corners of scrollbar thumb */
  border: 2px solid black; /* Border around scrollbar thumb */
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #555; /* Color of scrollbar thumb on hover */
}
