.calendar-icon {
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  height: 40px;
  pointer-events: none; /* Ensures the icon doesn't interfere with input interaction */
}

.calendar-icon img {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

#example-one-input {
  min-height: 301px;
  height: auto;
  width: 100%;
  border-radius: 6px;
  padding: 5px 10px;
}
#example-one-input2 {
  /* height: 130px; */
  width: 56%;
  border-radius: 6px;
  padding: 5px 10px;
}

.textarea-cont-single {
  padding-bottom: 11rem;
}

@media screen and (min-width: 768px) and (max-width: 1400px) {
  .textarea-cont-single,
  .textarea-cont-bulk {
    width: auto;
  }
  .texting-relative-cont-single,
  .texting-relative-cont-bulk {
    flex: 1;
  }
  .texting-relative-cont-single {
    height: 1014px;
  }
  .texting-relative-cont-bulk {
    height: 1242px;
  }
  .quantitybutton {
    width: auto;
  }
  .templateButton {
    font-size: 12px;
  }
}

@media screen and (min-width: 768px) and (max-width: 960px) {
  .product-image-cont {
    width: 380px;
  }
}

/* To fix the overlap of absolute div on bulk purchase */
@media screen and (max-width: 1310px) {
  .textarea-cont-bulk {
    padding-bottom: 17rem;
  }
}

/* To prevent overflowing on screens smaller than 400 */
@media screen and (max-width: 400px) {
  .purchase-btn-cont {
    flex-wrap: wrap;
    gap: 3px;
  }
  .bulk-purchase-btn {
    width: 110%;
    margin-right: 0;
  }
  .single-purchase-btn {
    width: 110%;
  }
  .templateButton {
    padding: 0 0.5rem;
  }
}
